.containerPop {
  top: 6%;
  margin-left: 35%;
  position: fixed;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  height: 90%;
  width: 30%;
  overflow-y: auto;
}
.containerPop h1 {
  color: rgb(2, 60, 187);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
}
.containerPop input {
  font-family: "Leelawadee UI";
  margin-left: 4%;
  width: 90%;
  height: 5%;
  margin-top: 10px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  font-size: calc(0.3rem + 0.9vw);
  padding: 1%;
}

.containerPop text {
  margin-left: 4.5%;
}

.containerPop .register {
  color: white;
  background-color: rgb(2, 60, 187);
  border: 1px solid rgb(2, 60, 187);
  height: 6%;
  border-radius: 3px;
  margin-left: 42.5%;
  margin-top: 3%;
  margin-bottom: 4%;
  padding: 1%;
  font-size: calc(0.3rem + 0.9vw);
  font-weight: bold;
}
#overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeButton {
  background-color: rgb(2, 60, 187);
  border: 1px solid rgb(2, 60, 187);
  border-radius: 7px;
  font-size: calc(0.3rem + 0.9vw);
  padding: 0;
  margin: 1%;
  margin-left: 94.5%;
  color: white;
  font-weight: bold;
  width: 4%;
}
