.notifications-container {
  position: absolute;
  height: 800px;
  width: 330px;
  background-color: #483d8b;
  right: 0;
  margin-right: 210px;
  margin-top: 75px;
  border-radius: 10px;
  z-index: 3;
}

.notifications-Header {
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  font-size: 24px;
}

.horizontal-line {
  width: 10px;
  height: 2px;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.notifications-list {
  width: 90%;

  height: 88%;
  margin-left: 3%;
  margin-top: 10px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.notification-item {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.notification-item text {
  margin-left: 10px;
}

.notification-item:hover {
  background-color: blueviolet;
}

.Icon {
  transform: translateY(30%);
}

.danger-icon {
  color: red;
  font-size: 30px;
}

.warning-icon {
  color: yellow;
  font-size: 30px;
}

.info-icon {
  color: blue;
  font-size: 30px;
}

/*style the scrollbar*/

.notifications-list::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.notifications-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.notifications-list::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
}
