.graphs-page {
  position: absolute;
  margin-left: 177px;
  margin-top: 70px;
  min-width: 1342px;
  background-color: white;
}
/* DashBoard */
.graphs-page .outer-container {
	display: table;
	width: 100%;
	height: 100%;
}
.graphs-page .outer-container .sidebar-left {
	background-color: #124191;
	width: 280px;
	display: table-cell;
	width: 15%;
	vertical-align: top;
}
.graphs-page .outer-container .content {
	background-color: #f2f7fb;
	display: table-cell;
	width: 85%;
	vertical-align: top;
}
.graphs-page .header {
	background: #fff;
	min-height: 70px;
	padding: 0;
	-webkit-box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
    box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
}
.graphs-page .sub-page {
	margin: 35px;
}
.graphs-page .box-mod {
	background-color: #fff;
	border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	position: relative;
	/*display: flex;*/
}

.graphs-page .box-mod h3 {
    text-align: center;
    border-bottom: 1px solid #d6d6d6a8;
    margin-top: 10px;
    padding-bottom: 10px;
}

.graphs-page .box-mod graphContainer {
    padding: 15px
}

.graphs-page .logo-dash {
	padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-bottom: 1px solid #214aa5;
    font-size: 20px;
    text-align: center;
}
.graphs-page ul.menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.graphs-page ul.menu > li {
	display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.graphs-page ul.menu > li a {
    display: block;
    font-size: 16px;
    text-align: left;
    padding: 7px 10px 7px 20px;
    margin: 5px 0 0;
    border-radius: 0;
    border-left: 3px solid transparent;
    color: #fff;
}
.graphs-page .header .user-info {
    float: right;
    padding: 25px;
}
.graphs-page .btn-small {
    background-color: #c91515;
    opacity: 0.6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
    padding: 6px 24px;
}

.graphs-page .btn-small-on {
    background-color: #2462ca;
    opacity: 1;
}

.graphs-page .btn-small-info {
    background-color: #2462ca;
}

.graphs-page .actions {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: 59% 40%;
    grid-gap: 10px;
}

.actions-container {
    display: grid;
    grid-template-columns: 15% 15% 25% 45%;
    grid-gap: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.react-datepicker-wrapper input {
    padding-left: 10px;
    height: 25px;
    border-radius: 0;
    border: 1px solid black;
}

.calendar-icon {
    display: inline-block;
    margin-left: -20px;
    position: absolute;
    margin-top: 3px;
}
.react-datepicker__tab-loop {
    display: inline-block;
}
.graphs-page .box-mod-actions {
	background-color: #fff;
	border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
	position: relative;
	/*display: flex;*/
}

.graphs-page .box-mod-actions h3 {
    text-align: left;
    border-bottom: 1px solid #d6d6d6a8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    padding-left: 20px;
}
.big-table {
    padding: 0 25px 1px 25px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #124191;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #124191;
}

.data-table h3 {
    padding-top: 10px;
}

.big-graph h3 {
    padding-top: 10px;
}