.settings-page {
  position: absolute;
  margin-left: 200px;
  margin-top: 70px;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 90%;
}
.settings-container {
}

.setari-header {
  font-size: 44px;
  font-family: "Bitter", serif;
  color: black;
}

.notificari-header {
  color: gray;
}

.switches-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

hr {
  width: 500px;
  margin: 0px;
}

.switch {
  margin-top: 20px;
}

.switch-option-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.securitate-text {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.toate-notificarile-text {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.tickete-text {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.tickete-text-priority {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  position: absolute;
  margin-left: 40px;
}

.KPI-text {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.switch-option-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch-option-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
