.header-container {
  background-color: #483d8b;
  width: 100%;
  height: 70px;
}

.account-section {
  float: right;
  margin-top: 10px;
  margin-right: 60px;
}

.profile-name {
  font-size: 24px;
}

.icon {
  position: relative;
  top: 5px;
  font-size: 24px;
}

.notification-icon {
  margin-right: 30px;
}

.profile-icon {
  margin-left: 10px;
}
