.App,
html {
  background-color: rgb(14, 78, 177);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
.App {
  z-index: 1;
  position: fixed;
}
.header {
  height: 10%;
  background: linear-gradient(to bottom, rgb(6, 51, 149), rgb(14, 78, 177));
}
.container {
  height: 80%;
  display: inline-flex;
  width: 100%;
}

.footer {
  height: 10%;
  background: linear-gradient(to top, rgb(6, 51, 149), rgb(14, 78, 177));
}
.logoAndCreateContainer {
  width: 57%;
  height: 100%;
}
.logoNokia {
  width: 400px;
  margin-left: 35%;
  padding-top: 25%;
  margin-bottom: 3%;
}
.logoAndCreateContainer a {
  color: white;
  font-weight: bold;
  font-size: calc(0.4rem + 1.9vw);
  margin-left: 38%;
  text-decoration: none;
}
.login {
  color: black;
  width: 30%;
  position: relative;
  left: -10%;
}

.signInDiv {
  flex-grow: 1;
  margin-left: 20px;
}

.borderLeft {
  margin-top: 13%;
  height: 73%;
  border-left: 3px solid white;
}

h1 {
  color: white;
  padding-left: 10%;
  padding-top: 10%;
  font-size: calc(0.5rem + 2vw);
  margin-bottom: 5%;
}

.textbox,
.textbox1 {
  margin-left: 10%;
  border: none;
  font-family: "Leelawadee UI";
  border-radius: 6px;
  height: 13%;
  width: 65%;
  margin-bottom: 4%;
  font-size: calc(0.4rem + 1.3vw);
  padding-left: 20px;
  display: block;
  outline: none;
}

.textbox1 {
  margin-bottom: 1%;
}

.login {
  font-family: "Leelawadee UI";
  margin-left: 40%;
  text-align: center;
  padding-right: 10px;
}

.borderLeft a {
  color: white;
  font-size: calc(0.5rem + 1vw);
  margin-left: 10%;
  font-style: italic;
  text-decoration: none;
  display: block;
  margin-bottom: 6%;
}
.logoAndCreateContainer a:hover {
  cursor: pointer;
}
